@font-face {
	font-family: 'youtube-playlist';
	src:url('/assets/fonts/youtube-playlist.eot?jeyel');
	src:url('/assets/fonts/youtube-playlist.eot?#iefixjeyel') format('embedded-opentype'),
		url('/assets/fonts/youtube-playlist.woff?jeyel') format('woff'),
		url('/assets/fonts/youtube-playlist.ttf?jeyel') format('truetype'),
		url('/assets/fonts/youtube-playlist.svg?jeyel#youtube-playlist') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'youtube-playlist';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
	content: "\e610";
}
.icon-play:before {
	content: "\e600";
}
.icon-spinner:before {
	content: "\e601";
}
.icon-close:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}
.icon-play2:before {
	content: "\e604";
}
.icon-pause:before {
	content: "\e605";
}
.icon-stop:before {
	content: "\e606";
}
.icon-first:before {
	content: "\e607";
}
.icon-last:before {
	content: "\e608";
}
.icon-volume-high:before {
	content: "\e609";
}
.icon-volume-medium:before {
	content: "\e60a";
}
.icon-volume-low:before {
	content: "\e60b";
}
.icon-volume-mute:before {
	content: "\e60c";
}
.icon-shuffle:before {
	content: "\e60d";
}
.icon-facebook:before {
	content: "\e60e";
}
.icon-twitter:before {
	content: "\e60f";
}
