//Imports
@import "reset";
@import "bootstrap";
@import "icons";
//Some Variables

$grey: #D1D1D1;
$youtube-red: #e52d27;
$green: #50A84E;
$text-grey: #333;

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
    min-height: 100%;
}

body {
	padding: 10px;
}

h1, p, th, td {
	font-family: 'Arial', serif;
	font-weight: 700;
}

a {
	color: $youtube-red;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: $youtube-red;
	}
}

h1 {
	font-size: 30px;
	// padding-bottom: 20px;
}

h2,h3 {
	font-size: 23px;
}

p, td {
	font-weight: 400;
	font-size: 14px;
	color: $text-grey;
}

strong {
	font-weight: 700;
}

span {
	display: block;
}

header {
	padding-bottom: 10px;
}

ul {

}

.left, .right {
	display: inline-block;
	vertical-align: top;
	min-height: 600px;
}

.left {
	width: 60%;
	// margin-right: 1%;
}

.right {
	// background:orange;
	padding-top: 0;
	margin-top: 10px;
	width: 33%;
	padding-left: 1%;
	border-left: 1px solid $grey;

	p {
		margin-bottom: 10px;
	}
}

[video-info] {
	margin: 20px auto;
}

[controls] {
	color: blue;
	cursor: pointer;
	color: black;
	position: relative;
	a {
		text-decoration: none;
		font-size: 21px;
		color: $text-grey;
		transition: color 0.2s ease-in;

		&:hover {
			color: $youtube-red;
		}

	}

	span.clear {
		position: absolute;
		right: 15px;
		top: 3px;

		a {
			font-size: 16px;				

			&:before {
				content:" ";
				display: none;
			}

			&:after {
				margin-left: 5px;
				content: "\e602";
				font-size: 13px;
				font-family: 'youtube-playlist';
			}
		}		
	}
}

[search-box] {
	width: 100%;
	height: 40px;
	font-size: 19px;
	margin: 0 auto 10px;
	padding-left: 5px;
}

[youtube-player] {
	iframe {
		width: 100%;
		height: auto;
		min-height: 400px;
	}
}

.playlist-wrapper {
	max-height: 700px;
	overflow-y: scroll;
}

[playlist] {

	margin-top: 10px;

	[playlist-item] {
		vertical-align: top;
		overflow: hidden;
		width: 100%;
		height: auto;
		border-bottom: none;
		padding: 10px 0px 10px 10px;
		position: relative;
		color: #333;
		background-color: #F5F5F5;
		border: 1px solid #DDD;
		border-bottom: none;

		&:last-child {
			border-bottom: 1px solid #DDD;
		}

		p {
			width: auto;
			max-width: 80%;
			vertical-align: middle;
			text-transform: capitalize;
			margin-bottom: 0;
			cursor: pointer;
		}

		span {
			display: inline-block;
			width: auto;
			color: white;
			padding: 5px;
			vertical-align: middle;
			position: absolute;
			font-size: 10px;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 20px;
			width: 20px;
			cursor: pointer;

			&.icon-close {
				background: $youtube-red;
				right: 5px;
			} 

			&.icon-play2{
				background: $green;
				right: 30px;
			}
		}
	}
}

.panel-heading {
	cursor: pointer;
}

.search-results {
	max-height: 800px;
	overflow-y: scroll;

	li {
		list-style: none;
		display: block;
		cursor: pointer;
		overflow: hidden;
		width: 100%;
		border: 1px solid $grey;
		border-bottom: 0;
		background: white;
		transition: background 0.2s ease-in;
		position: relative;

		&:hover {
			background: #E2E2E2 ;
		}

		&:last-child {
			border-bottom: 1px solid black;
		}

		img, p {
			display: inline-block;
			vertical-align: top;
		}

		img {
			width: 30%;
			border: 10px solid #000;
			border-left: 1px solid #000;
			border-right: 1px solid #000;
			margin: 5px auto;
			vertical-align: middle;
			margin-left: 5px;
		}

		p {
			width: 65%;
			margin-top: 10px;
			font-size: 11px;
		}

		span {
			display: inline-block;
			&.icon-plus{
				background: $green;
				right: 8px;				
				width: auto;
				color: white;
				padding: 5px;
				vertical-align: middle;
				position: absolute;
				font-size: 10px;
				top: 8px;
			}

			&.title {
				font-size: 14px;
			}
		}
	}
}
